.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.uploading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1rem;
  background-color: #000;
  padding: 10px;
  z-index: 2;
}

.photoImage {
  border: 4px solid white;
}

.photography {
  flex: 0 0 calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  padding: 4px;
  position: relative;
}

.imageContainer:hover {
  opacity: 0.9;
  cursor: pointer;
}

.uploadButton,
.deleteButton {
  display: none;
  padding: 8px 16px;
  color: white;
  z-index: 1;
  border: none;
  cursor: pointer;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.imageContainer:hover .uploadButton,
.imageContainer:hover .deleteButton {
  display: block;
}

.imageContainer:hover>img {
  mix-blend-mode: "multiply"
}

.performBoard {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -100%;
  width: 100%;
  height: 100%;
}

.imageContainer:hover>.performBoard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background-color: rgb(0, 255, 68, 0.6);
  mix-blend-mode: multiply;
}

.imageContainer:hover>.performBoard::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background-color: rgba(255, 0, 0, 0.6);
  mix-blend-mode: multiply;
}


.userContainer {
  width: 200px;
  display: flex;
}

.user {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

.user>img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: flex-start;
}

@media only screen and (max-width: 657px) {


  .photography {
    flex: 0 0 calc(100%);
    padding: 0;
    margin-top: 20px;
  }

  .userPhotography {
    aspect-ratio: auto;
  }

  .user {
    flex-direction: row;
  }

  .userContainer {
    width: 100%;
    background-color: white;
    color: #000;
    position: relative;
  }

  .user>img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .gallery {
    max-width: 100%;
  }

}

.homeGallery {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  margin: 10px;
  width: 100%;
  height: auto;
  justify-content: start;
  padding-bottom: 10px;
  flex: 0 0 auto;
}

.newHomeGallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 100px;
}

.homePhotography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin: 4px 4px;
  min-width: 400px;
  padding: 10px;
}

.homePhotography img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 8px solid white;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.title {
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}

.upload {
  display: flex;
  align-items: baseline;
  color: rgb(255, 255, 255);
  background-color: rgb(208, 26, 42);
  padding: 2px 4px;
  margin: 4px;
  border-radius: 5px;
  position: relative;
  top: -4px;
  left: 4px;
}

.subTitle {
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  top: -15px;
  position: relative;
}

.userList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
  font-size: 1rem;
  padding: 20px;
}

.userAvatar {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  position: relative;
  top: -1px;
}

.footer {
  font-size: 1rem;
  font-weight: 200;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.about,
.about>a {
  color: #000;
}

.about {
  margin-left: -20px;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: small;
  background-color: #fff;
  border-radius: 9px;
  font-weight: 800;
  position: relative;
  top: -38px;
  right: -20px;
}

@media only screen and (max-width: 657px) {
  .homeGallery {
    flex-direction: column;
  }

  .homePhotography {
    min-width: auto;
    padding: 0;
    margin-bottom: 20px;
  }
}

.imageContainer:hover {
  opacity: 0.9;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.uploadButton,
.deleteButton {
  position: absolute;
  display: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  z-index: 1;
}

.imageContainer:hover .uploadButton,
.imageContainer:hover .deleteButton {
  display: block;
}

.uploadButton {
  /* transform: translate(0%, -80%); */
  transform: translate(0%, 0%);
  background-color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.deleteButton {
  transform: translate(0%, 40%);
  background-color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}